:root
{
    --page-width-desktop: calc(100% - 200px);
}

*
{
    padding: 0px;
    margin: 0px;
    color: var(--common-text-color);
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

body
{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
}

#content_root
{
    background-image: var(--content-root-bg);
    background-size: cover, cover;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

/* Sizing info, for mobile we want to fill the screen rather than starting with margins on the sides */
@media (pointer:none), (pointer:coarse)
{
    #content_area_border
    {
        width: calc(100% - 20px);
        padding: 50px 10px 0px 10px;
        
        position: relative;
        top: 0px;
        left: 0px;
        height: calc(100% - 50px);   
    }
}
@media (pointer: fine)
{
    #content_area_border
    {
        width: var(--page-width-desktop);
        padding: 60px 30px 10px 30px;
        
        position: relative;
        top: 70px;
        left: 70px;
        height: calc(100% - 140px);   
    }
}

/* Semi blurred transparent look akin to Win7 */
#content_area_border
{
    background-color: var(--content-border-bg);
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
}

#window_titlebar
{
    position: absolute;
    top: 0.5em;
    width: 100%;
    height: 2em;
    
    display: inline-block;
    background: transparent;
}

#window_dragbar
{
    user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3.5em;
    width: 100%;
}

#hidden_drag_ghost
{
    display: hidden;
}

#content_area_outer
{
    background-color: transparent;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #ffffff8a;
    border-radius: 3px;
}

#content_area_inner
{
    background-color: var(--content-inner-bg);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow-x: hidden;
    overflow-y: scroll;
    
    border: 1px solid #4c4c4c;
    border-radius: 3px;
}

#window_icon
{
    display: inline-block;
    width: 2rem;
    height: auto:
}

#window_title
{
    display: inline-block;
    background: transparent;
    width: fit-content;
    position: absolute;
    top: 2px;
    margin-left: 3px;
    /* The black shadow adds a kind of blur to the text which makes it look more authentic. The white adds contrast.
    */
    text-shadow: 0px 0px 1px black, 0px 0px 20px white, 0px 0px 15px white;
    font-size: 20px;
    color: var(--common-text-color);
}

#top_bar
{
    width: 100%;
    height: 3rem;
    position:relative;

    background: var(--common-fallback-bg);
    background: var(--common-gradient-bg);
    box-shadow: 0px 0px 4px black;
    
    display: flex;
    align-items: center;
}

.top_bar_button
{
    border-style: none;
    background-color: transparent;
    color: var(--over-gradient-text-color);
    text-shadow: 0px 0px 1px var(--over-gradient-text-color);
    font-size: 18px;
    margin-left: 1em;
}

.top_bar_button:hover
{
    text-shadow: 0px 0px 1px var(--over-gradient-text-color), 0px 0px 15px var(--top-bar-button-hover-highlight);
}

input[type="checkbox"]
{
    appearance: none;
    cursor: pointer;
    background: var(--checkbox-bg);
    background: var(--checkbox-gradient-bg);
    width: 1em;
    height: 1em;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 1px black;
}

input[type="checkbox"]:checked
{
    background-size: cover;
    padding: 2px;
    
    background-image: var(--checkbox-checked-gradient-image-bg);
}

#darkmode_checkbox
{
    margin-left: 1em;
}

#darkmode_label
{
    border-style: none;
    background-color: transparent;
    color: var(--over-gradient-text-color);
    text-shadow: 0px 0px 1px var(--over-gradient-text-color);
    font-size: 18px;
    margin-left: 5px;
}

#article_row_container
{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px;
}

#article_row_image
{
    height: auto;
    width: 100px;
    grid-column: 1;
    grid-row: 1;
}

#article_row_right
{
    grid-row: 1;
    grid-column: 2;
}

#article_row_title
{
    font-size: 40px;
}

#text_copied_container
{
    position: absolute;
    background: var(--text-copied-bg);
    background: var(--text-copied-gradient-bg);
    border: 1px solid gray;
    box-shadow: 0px 0px 4px black;
    
    padding: 5px;
    border-radius: 5px;
}

.copyable_text
{
    box-shadow: 0px 0px 2px black;
    padding-left: 2px;
    padding-right: 3px;
    border-radius: 3px;
    cursor: pointer;
    
    background: var(--common-fallback-bg);
    background: var(--common-gradient-bg);
}

.copyable_text:hover
{
    background: var(--copyable-text-bg);
    background: var(--copyable-text-gradient-bg);
    cursor: pointer;
}