*
{
    padding: 0px;
    margin: 0px;
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

body
{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
}

#content_root
{
    background-image: url('bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

/* Semi blurred transparent look akin to Win7 */
#content_area_border
{
    width: calc(100% - 200px);
    padding: 60px 30px 10px 30px;
    
    position: relative;
    top: 70px;
    left: 70px;
    height: calc(100% - 140px);
    
    background-color: #a7e1f84f;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
}

#window_titlebar
{
    position: absolute;
    top: 0.5em;
    width: 100%;
    height: 2em;
    
    display: inline-block;
    background: transparent;
}

#window_dragbar
{
    user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3.5em;
    width: 100%;
}

#hidden_drag_ghost
{
    display: hidden;
}

#content_area_outer
{
    background-color: transparent;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #ffffff8a;
    border-radius: 3px;
}

#content_area_inner
{
    background-color: white;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow-x: hidden;
    overflow-y: scroll;
    
    border: 1px solid #4c4c4c;
    border-radius: 3px;
}

#window_icon
{
    display: inline-block;
    width: 2rem;
    height: auto:
}

#window_title
{
    display: inline-block;
    background: transparent;
    width: fit-content;
    position: absolute;
    top: 2px;
    margin-left: 3px;
    /* The black shadow adds a kind of blur to the text which makes it look more authentic. The white adds contrast.
    */
    text-shadow: 0px 0px 1px black, 0px 0px 20px white, 0px 0px 15px white;
    font-size: 20px;
}

#top_bar
{
    width: 100%;
    height: 3rem;
    position:relative;

    background: #f2fcff;
    background: linear-gradient(180deg,rgba(242, 252, 255, 1) 46%, rgba(220, 234, 242, 1) 65%);
    box-shadow: 0px 0px 4px black;
    
    display: flex;
    align-items: center;
}

.top_bar_button
{
    border-style: none;
    background-color: transparent;
    color: rgb(31, 5, 125);
    text-shadow: 0px 0px 1px rgb(31, 5, 125);
    font-size: 18px;
    margin-left: 1em;
}

.top_bar_button:hover
{
    text-shadow: 0px 0px 1px rgb(31, 5, 125), 0px 0px 15px rgb(60, 117, 181);
}

#article_row_container
{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px;
}

#article_row_image
{
    height: auto;
    width: 100px;
    grid-column: 1;
    grid-row: 1;
}

#article_row_right
{
    grid-row: 1;
    grid-column: 2;
}

#article_row_title
{
    font-size: 40px;
}

#text_copied_container
{
    position: absolute;
    background: #d6d6d6;
    background: linear-gradient(180deg,rgba(214, 214, 214, 1) 44%, rgba(166, 166, 166, 1) 57%);
    border: 1px solid gray;
    box-shadow: 0px 0px 4px black;
    
    padding: 5px;
    border-radius: 5px;
}

.copyable_text
{
    box-shadow: 0px 0px 2px black;
    padding-left: 2px;
    padding-right: 3px;
    border-radius: 3px;
    cursor: pointer;
    
    background: #f2fcff;
    background: linear-gradient(180deg,rgba(242, 252, 255, 1) 46%, rgba(220, 234, 242, 1) 65%);
}

.copyable_text:hover
{
    background: #fff8e0;
    background: linear-gradient(180deg,rgba(255, 248, 224, 1) 45%, rgba(255, 234, 97, 1) 65%);
    cursor: pointer;
}